<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.phonegapbuild.test"
        version   = "1.0.0">

    <name>Minimal App</name>

    <description>
        This is a minimal PhoneGap app.
    </description>

    <author href="http://build.phonegap.com" email="build@phonegap.com">
        PhoneGap Build
    </author>
        
     <platform name="ios" >
    
        <icon src="res/icon/ios/Icon-App-40x40@1x.png" width="40" height="40" />
        <icon src="res/icon/ios/Icon-App-40x40@2x.png" width="80" height="80" />
        <icon src="res/icon/ios/Icon-App-40x40@3x.png" width="120" height="120" />
    
        <icon src="res/icon/ios/57x57.png" width="57" height="57" />        
        <icon src="res/icon/ios/114x114.png" width="114" height="114" />
        <icon src="res/icon/ios/Icon-App-60x60@1x.png" width="60" height="60" />
        <icon src="res/icon/ios/Icon-App-60x60@2x.png" width="120" height="120" />
        <icon src="res/icon/ios/Icon-App-60x60@3x.png" width="180" height="180" />
        
        <icon src="res/icon/ios/72x72.png" width="72" height="72" />
        <icon src="res/icon/ios/144x144.png" width="144" height="144" />
        
        <icon src="res/icon/ios/Icon-App-76x76@1x.png" width="76" height="76" />
        <icon src="res/icon/ios/Icon-App-76x76@2x.png" width="152" height="152" />
        <icon src="res/icon/ios/Icon-App-76x76@2x.png" width="228" height="228" />
                
        <icon src="res/icon/ios/Icon-App-29x29@1x.png" width="29" height="29" />
        <icon src="res/icon/ios/Icon-App-29x29@2x.png" width="58" height="58" />
        <icon src="res/icon/ios/Icon-App-29x29@3x.png" width="87" height="87" />
        <icon src="res/icon/ios/50x50.png" width="50" height="50" />
        <icon src="res/icon/ios/100x100.png" width="100" height="100" />
        
        
        <icon src="res/icon/ios/Icon-App-83.5x83.5@2x.png" width="167" height="167" />
        
        
                
    </platform>

</widget>
